* {
    border: 0;
    margin: 0;
}

.container {
    margin: 5%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.row {
    display: flex;
    gap: 4px;
}

.square {
    background-color: yellow;
    height: 36px;
    width: 36px;
}